


.btn {
    margin: 0 15px;
    margin-bottom: 10px!important;
    background: #f1f1f1!important;
    border: transparent!important;
}

.btn:hover {
    background: #d3cccc!important;
}

.MainCard {
    border: transparent!important;
}

.NumDiv {
    height: auto!important;
    background-color: #616161!important;
    margin: 100px 0;
} 

.NumEle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white!important;
    padding: 50px 0;
}


