

.mainDiv {
    margin-top: 150px;
}

h6 {
    padding-top: 10px;
}

i{
    font-size: 70px;
}

.MainCard {
    border: transparent!important;
}

.MainRow {
    padding-top: 100px;
}

.secDiv {
    background-color: #eee
}

.mainBtn{
    background-color: black!important;
    color: white!important;
    border-color: transparent!important;
}

.mainBtn:hover {
    background-color: rgb(190, 182, 182)!important;
    color: black!important;
    border-color: transparent!important;
}